:root {
    --sgreen: #2e8b57;
    --cgrey: #8da7be;
    --rblack: #272838;
    --mmoss: #d4c685;
    --mmint: #b5fed9;
}
body{
    background-color: var(--cgrey);
}

#myPhoto{
    max-height: 400px;
}

#hero-image {
    background-image: url("../../assets/images/pexels-antonio-batinić-4164418.jpg");
    background-color: var(--rblack);
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text{
    text-align: center;
    color: var(--mmint);
    font-size: 3rem;
}

.myCards {
    background-color: var(--rblack);
    color: var(--mmint);
}

.madeFt {
    text-align: center;
    color: var(--rblack);
    margin-block-start: 10px;
}

.cardFt {
    background-color: var(--sgreen);
}

.cardFt a {
    color: var(--mmoss);
    text-decoration: none;
}

h5 {
    font-size:2.5rem;
    border-bottom: 2px solid var(--mmoss);
    color: var(--sgreen);
    max-width: fit-content;
}

.navEl {
    background-color: var(--rblack);
    color: var(--mmint);
}

.navEl a {
    color: var(--mmint);
    text-decoration: none;
}